body {
  background-color: rgb(78, 78, 78);
}

.App {
  background-color: rgb(28, 37, 61);
  min-height: 400px;
  width: 400px;
  margin: 40px auto;
  padding-top: 40px;
}

#to-do-form input {
  background-color: rgb(37, 37, 37);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}


#to-do-form input::placeholder {
  color: lime;
}

#to-do-form input:focus,#to-do-form button:focus  {
  outline: none;
} 

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
  font-weight: bolder;
  color: rgb(12, 12, 12);
  border-radius: 50px;
}